#margin-body {
  margin: 0px 0px 0px 0px;
}
nav {
  border: 0px 0px 15px 0px;
  background-color: black;
  padding: 15px;
  margin: 0px 0px 5px 0px; /* Sentido horario */
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; /* Elemento que se muestra primero (Sobre todo lo demás) */
}
nav a {
  text-decoration: none;
  padding: 15px 16px;
  color: white;
  text-align: center;
}
nav a:hover {
  background-color: green;
}
h1, h5 {
  float: center;
  text-align: center;
  clear: both;
}
#container {
  position: absolute;
  top: 50px;
  padding: 0px 15px 5px 15px;
}
#barra-lateral {
  float: left;
  width: 17%;
  border: 0px;
  margin-right: 5px;
  background-color: lightblue;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 0px;
  border: 2px dashed black;
}
.utable {
  font-family: "helvetica", sans-serif;
  line-height: 1.5em;
}
#entradas {
  float: right;
  width: 80%;
  border: 0px;
  background-color: lightgreen;
  padding-left: 15px;
  margin-bottom: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}
p {
  font-family: "helvetica", sans-serif;
  font-size: 0.9em;
}
.cursive-txt {
  font-style: italic;
}
.weight {
  font-weight: bold;
}
