nav {
  background-color: black;
  padding: 15px;
  margin: 0px 0px 5px 0px; /* Sentido horario */
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav a {
  text-decoration: none;
  padding: 15px 16px;
  text-align: center;
  color: white;
}
nav a:hover,
a:active,
a:focus {
  /* Pseudoclases dinámicas en CSS */
  background-color: green;
}
