/* body { background-color: lightgreen;} */
.utable {
  font-family: "helvetica", sans-serif;
}
p {
  font-family: "helvetica", sans-serif;
  font-size: 0.9em;
}
.cursive-txt {
  font-style: italic;
}
.weight {
  font-weight: bold;
}
