/* Un ID sólo debe ser usado una vez en el documento */
/* Utilice ID para elementos que solo aparecen una vez en una página web.  */
/* Las Clases, se pueden repetir y las podemos usar las veces que queramos dentro del mismo documento. */
/* Use clases cuando haya varios elementos en una sola página web que necesiten estilo. */
/* https://www.campusmvp.es/recursos/post/clases-ids-css-cuando-como-usarlas.aspx */

body {
  background-color: aquamarine;
}
h3 {
  color: red;
}
p {
  font-family: "helvetica", sans-serif;
} /* ,fuente de respaldo en caso de no tener "helvetica" */

/* selector de descendientes */
/* Hace que todas las etiquetas "b" y "em" de un "p" tengan un fondo amarillo */
p b,
em {
  background-color: lightblue;
}

/* El selector comienza con "." para las clases y "#" para los identificadores */
.p1 {
  font-weight: bold; /* Negritas */
  font-size: 25px;
}
.reasons {
  font-style: italic;
}
.li-size {
  font-size: 1.5rem;
  font-family: cursive;
  font-style: italic;
  /* font: italic 1.5rem cursive;  /* Propiedad "shorthand" */
}

#inicio {
  font-size: 50px;
  text-align: center;
}

#summary {
  color: blue;
  font-size: 2rem;
  font-style: italic;
  text-decoration: underline;
}

/* Texto Invisible */
figcaption {
  display: none;
  transition: all 0.5s;
}

/* Texto Visible */
figure:hover > figcaption {
  display: block;
  transition: all 0.5s;
}
.table-title {
  background-color: lightgreen;
  font-size: x-large; /* Mas inf. sobre la propiedad: https://developer.mozilla.org/es/docs/Web/CSS/font-size */
  font-weight: bold;
  margin: auto;
}
.elements-title {
  font-weight: bold;
}
.first-file {
  background-color: yellow;
}
.second-file {
  background-color: #7f7f7f;
}
.third-file {
  background-color: red;
}
